<div>
	<h2>Add a new Poll</h2>
	<h5>Put the question and options here</h5>
	<a href="#/dashboard">Cancel</a>
	<form name='newSurveyForm' ng-submit='addSurvey()'>
		<div class='dup' ng-show=isDuplicate()>Name duplciated!!</div>
		<div>Question: <input name='surveyQ' type='text' ng-model='new_question.name' ng-minlength='8' required></div>
		<div>Option 1: <input name='option1' type='text' ng-model='new_question.option1' ng-minlength='3' required></div>
		<div>Option 2: <input name='option2' type='text' ng-model='new_question.option2' ng-minlength='3' required></div>
		<div>Option 3: <input name='option3' type='text' ng-model='new_question.option3' ng-minlength='3' required></div>
		<div>Option 4: <input name='option4' type='text' ng-model='new_question.option4' ng-minlength='3' required></div>
		<input type='submit' value='Create Poll' ng-disabled='newSurveyForm.surveyQ.$invalid'>
	</form>
	<div ng-messages="newSurveyForm.name.$error" style="color:maroon" role="alert" ng-show= 'newSurveyForm.surveyQ.$dirty'>
	    <div ng-message="required">You did not enter a field</div>
	    <div ng-message="minlength">Your field is too short</div>
	</div>

	<!-- <div>
		<input type='text' ng-model='filter_name' placeholder='search name...'>
	</div>
	<table>
		<thead>
			<th>Name</th>
			<th>Created Date</th>

		</thead>

		<tbody>
			<tr ng-repeat='customer in customers | filter: filter_name track by $index'>
				<td>{{customer.name}}</td>
				<td>{{customer.created_at  | date: 'MMMM dd, yyyy'}}</td>

			</tr>
		</tbody>
	</table>
</div>
